<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.tofuliang.fuckhuaweilauncher">

    <application
        android:label="@string/app_name" >
        <meta-data

            android:name="xposedmodule"

            android:value="true" />

        <meta-data

            android:name="xposeddescription"

            android:value="解除EMUI第三方桌面限制" />

        <meta-data
            android:name="xposedminversion"

            android:value="82" />

    </application>
</manifest>
